.footer-container {
    background-color: #181821;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.footer-item p {
    margin: 0;
    font-size: 16px;
    text-align: center;
}


.footer-bottom-text {
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}