.header-container {
  background-color: #befbff; /* or the exact color you want */
  padding: 0px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo img {
  max-height: 30px;
  margin-right: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav li {
  display: inline;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
